{% extends 'index.html' %}

{% block main %}
        <div class="container">
            <p class="lead mb-4 fw-bold">Faça uma avaliação gratuita clicando nos links abaixo.</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdBtLg6iiZUpyKT62-bZahLtVKAqlzBknGs5oH4iYhRk52Xyw/viewform" class="btn btn-info btn-lg fw-bold" target="_blank" rel="noopener noreferrer" role="button">Mente acelerada e esquecimentos? Faça o rastreio de sinais de TDAH na vida adulta</a><br><br>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeoy3p_-tSJN1zybsYxVCeq6E0JMRLmLUjSN7FntuPCFEdmKQ/viewform" class="btn btn-info btn-lg fw-bold" target="_blank" rel="noopener noreferrer" role="button">Dificuldade com números: é apenas falta de prática ou sinal de Discalculia?</a><br><br>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeUdFdPRxUfnzpFaSdEma5PlGigx_GqBXOZF_H_InlVJtmi5w/viewform" class="btn btn-info btn-lg fw-bold" target="_blank" rel="noopener noreferrer" role="button">Leitura difícil? Saiba se é o tempo dele ou sinal de alerta</a><br><br>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeSP4Am1FD48wRGXkjrWbnonkxVr1i-hqI_QcwZvB4s3_-yzA/viewform" class="btn btn-info btn-lg fw-bold" target="_blank" rel="noopener noreferrer" role="button">Esquecimento comum ou falha cognitiva? Faça o autoexame de memória</a><br><br>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScdP8dt-47CXrH0ABdNhmfV285Me9mh7kF7xHVADINn2zyvuw/viewform" class="btn btn-info btn-lg fw-bold" target="_blank" rel="noopener noreferrer" role="button">Agitação ou TDAH? Descubra os sinais de alerta no seu filho</a>

        </div>
{% endblock %}
