{% extends 'index.html' %}

{% block main %}

{% from 'bootstrap5/form.html' import render_form %}

<form method="POST">
        {{ form.csrf_token }}
        <div class="container">
            <div class="px-4 py-5 my-5 text-justify">
                <h1 class="display-5 fw-bold">Entre em contato</h1>
                <p class="lead mb-4">Estou à disposição para esclarecer dúvidas e agendar um atendimento.</p>
                <div class="form-floating fw-bold mb-3">
                    {{ render_form(form, button_style='btn btn-primary btn-lg px-4 me-md-2 fw-bold') }}
                    <button type="reset" class="btn btn-outline-secondary btn-lg px-4 fw-bold">Limpar</button>
                </div>
            </div>
        </div>
</form>

{% endblock %}
